medtype-trainer/data/*
medtype-trainer/models/*
medtype-trainer/logs/*
medtype-trainer/predictions/*
medtype-trainer/results/*
medtype-as-service/resources/*
/datasets/*

*/__pycache__/*

Release/
*.zip
*.crt
*.key

*.pyc
*.swp
*.egg
*.zip
*.pt
._*

.workon
*.lprof
*.lprof.old
*.DS_Store

*.log
*.fls
*.fdb_latexmk
*.bbl
*.out
*.aux
*.blg
*.synctex.gz

eval_data/
med_linkers/

# Vim swap files
*.swp

medtype-as-service/server/build/*


# output files from testLinkage.py
medtype-as-service/server/medtype_serving/server/*.json



# Created by https://www.toptal.com/developers/gitignore/api/jupyternotebooks
# Edit at https://www.toptal.com/developers/gitignore?templates=jupyternotebooks

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

# End of https://www.toptal.com/developers/gitignore/api/jupyternotebooks



